## Deliverable 2. Create a Customer Travel Destinations Map.

In [9]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [10]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Avarua,CK,-21.2078,-159.7750,86.00,79,75,18.41,NaN
1,1,Esperance,AU,-33.8667,121.9000,51.80,93,67,8.05,NaN
2,2,Nikolskoye,RU,59.7035,30.7861,37.99,81,90,8.95,NaN
3,3,Dong Xoai,VN,11.5333,106.9167,72.86,85,92,2.66,NaN
4,4,Touros,BR,-5.1989,-35.4608,78.80,89,75,9.22,NaN

In [11]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [12]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
clean_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
clean_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Avarua,CK,-21.2078,-159.7750,86.00,79,75,18.41,NaN
4,4,Touros,BR,-5.1989,-35.4608,78.80,89,75,9.22,NaN
9,9,Atuona,PF,-9.8000,-139.0333,80.33,76,98,18.57,NaN
12,12,Vaini,TO,-21.2000,-175.2000,78.80,94,90,11.50,NaN
14,14,Yaan,NG,7.3833,8.5667,78.80,70,100,6.98,NaN
19,19,Hithadhoo,MV,-0.6000,73.0833,82.53,74,100,12.68,NaN
22,22,Vanimo,PG,-2.6741,141.3028,81.91,73,100,2.91,NaN
24,24,Natal,BR,-5.7950,-35.2094,80.60,78,40,12.66,NaN
26,26,Bonthe,SL,7.5264,-12.5050,78.37,80,99,5.75,NaN
29,29,Rikitea,PF,-23.1203,-134.9692,79.54,67,1,12.82,NaN

In [13]:
# 4a. Determine if there are any empty rows.
clean_df.count()

City_ID                1546
City                   1546
Country                1545
Lat                    1546
Lng                    1546
Max Temp               1546
Humidity               1546
Cloudiness             1546
Wind Speed             1546
Current Description     904
dtype: int64

In [14]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df.dropna()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
2040,2040,Avarua,CK,-21.2078,-159.7750,86.00,79,75,18.41,broken clouds
2044,2044,Touros,BR,-5.1989,-35.4608,78.80,89,75,9.22,broken clouds
2049,2049,Atuona,PF,-9.8000,-139.0333,80.33,76,98,18.57,overcast clouds
2052,2052,Vaini,TO,-21.2000,-175.2000,78.80,94,90,11.50,heavy intensity rain
2054,2054,Yaan,NG,7.3833,8.5667,78.80,70,100,6.98,overcast clouds
...,...,...,...,...,...,...,...,...,...,...
5125,5125,Pangai,TO,-19.8000,-174.3500,77.00,94,90,4.61,light rain
5127,5127,Beruwala,LK,6.4788,79.9828,77.13,85,100,1.72,overcast clouds
5128,5128,Paracuru,BR,-3.4100,-39.0306,82.00,72,88,14.00,overcast clouds
5133,5133,Kapoeta,SS,4.7717,33.5903,82.71,31,25,13.73,scattered clouds
5134,5134,Sinnamary,GF,5.3833,-52.9500,76.73,86,100,9.55,overcast clouds

In [15]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
clean_hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
clean_hotel_df["Hotel Name"] = ""
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Avarua,CK,86.00,NaN,-21.2078,-159.7750,
4,Touros,BR,78.80,NaN,-5.1989,-35.4608,
9,Atuona,PF,80.33,NaN,-9.8000,-139.0333,
12,Vaini,TO,78.80,NaN,-21.2000,-175.2000,
14,Yaan,NG,78.80,NaN,7.3833,8.5667,
19,Hithadhoo,MV,82.53,NaN,-0.6000,73.0833,
22,Vanimo,PG,81.91,NaN,-2.6741,141.3028,
24,Natal,BR,80.60,NaN,-5.7950,-35.2094,
26,Bonthe,SL,78.37,NaN,7.5264,-12.5050,
29,Rikitea,PF,79.54,NaN,-23.1203,-134.9692,

In [16]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in clean_hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()  
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        clean_hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except(IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [17]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df.dropna()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2040,Avarua,CK,86.00,broken clouds,-21.2078,-159.7750,Paradise Inn
2044,Touros,BR,78.80,broken clouds,-5.1989,-35.4608,INN NEW HORIZON
2049,Atuona,PF,80.33,overcast clouds,-9.8000,-139.0333,Villa Enata
2052,Vaini,TO,78.80,heavy intensity rain,-21.2000,-175.2000,Keleti Beach Resort
2054,Yaan,NG,78.80,overcast clouds,7.3833,8.5667,
...,...,...,...,...,...,...,...
5125,Pangai,TO,77.00,light rain,-19.8000,-174.3500,Ha'apai Beach Resort
5127,Beruwala,LK,77.13,overcast clouds,6.4788,79.9828,The Palms Hotel
5128,Paracuru,BR,82.00,overcast clouds,-3.4100,-39.0306,Hotel Vento Brasil
5133,Kapoeta,SS,82.71,scattered clouds,4.7717,33.5903,Eastgate Hotel
5134,Sinnamary,GF,76.73,overcast clouds,5.3833,-52.9500,ALETHEIA Appartement Sinnamary

In [22]:
# 8a. Create the output File (CSV)
output_data_file = ("hotel_Output.csv")
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [23]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [21]:
# 11a. Add a marker layer for each city to the map. 
locations = clean_hotel_df[["Lat", "Lng"]]
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))